.many_product_item {
   padding: 8px;
   border-radius: 8px;
   background-color: var(--white);
   position: relative;
   
   .discount {
      background-color: #FDDBC9;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      position: absolute;
      left: 0px;
      // top: 8px;
      color: #F45E0C;
      padding: 6px;
      font-size: 14px;
      font-weight: bold;
   }

   // .img{
   //    margin-bottom: 12px;
   //    max-width: 50%;
   //    object-fit: contain;
   //    height: 100px;
   //    object-position: left;
   // }
   // &.product_v1{
   //    width: 96%;
   //    .img_1{
   //       width: 50%;
   //       height: 100%;
   //    }



   .title {
      font-size: 14px;
      line-height: 100%;
      font-weight: 300;
      margin-bottom: 8px;
   }

   .price_area {
      display: flex;
      justify-content: space-between;

      .delete_price {
         font-size: 12px;
         color: #717171;
         font-weight: bold;
      }

      .normal_price {
         font-size: 14px;
         color: var(--black);
         margin-left: 230px;
         font-weight: bold;
      }
   }

   // product_v1,product_v2,product_v3,product_v4,product_v5 here 
   &.product_v1 {
      height: 100%;
      width: 97%;
      margin-left: 17px;
      // gap: 30px;
      .img_1 {
         width: 80%;
         object-fit: contain;
         object-position: center;
      }

   }

   &.product_v2 {
      width: 98%;
      margin-left: 19px;
      .img_2 {
         // height: 100%;
         width: 100%;
         object-fit: contain;
         object-position: center;
      }
   }

   &.product_v3 {
      max-height: 100%;
      max-width: 91%;
      margin-left: 25px;
      .img_3 {
         height: 100%;
         width: 46%;
         margin-left: 68px;
      }
   }

   &.product_v4 {
      height: 100%;
      width: 100%;
      margin-left: 14px;
      .img_4{
         width: 77%;
         object-fit: contain;
         object-position: center;
         display: block;
         height: 100%;
         margin-left: 35px;
      }
   }

   &.product_v5 {
      max-width: 100%;
      height: 100%;
      margin-left: 32px;
      .img_5{
         display: block;
         width: 54%;
         height: 100%;
         object-fit: contain;
         object-position: center;
         margin-left: 67px;
      }
   }

}