 
   .banner_sales_part{
      background-color: var(--navy_blue);
      display: grid;
      grid-template-columns: 290 1fr;
      gap: 15px;
      .left{
         .heading{}
         .sub_heading{

         }
         a{}
      }
   }
 